<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!--; My own copy of bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

        <!--; My own css file -->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="NavigationBar">
            <p>Navigation Bar</p>
        </div>
        <main>
            <div class="container py-3 text-center">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert mb-1 alert-primary text-center alert-{{ category }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <br>
              {% block main %}{% endblock %}
            </div>
        </main>
        <footer class="text-center" style="font-size: 75%">
            <p>Smart Shots is a doctoral project developed by Joe Brusatto ©<span>Copyright</span> <span>All Rights Reserved</span></p>
        </footer>

        <!--; local copy of bootstrap-->
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </body>
